body, section, .sidebar, .content, #toggleButton {
    transition: background-color 0.4s ease, color 0.4s ease;
}


.container {
    display: flex;
    height: 100vh; /* Full height */
}

/* Sidebar*/
.sidebar {
    
    width: 35%; 
    height: 100vh ; 
    position: fixed; 
    left: 0;
    top: 0;
    padding: 40px 30px;
    background-color: #0d1422; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 120px;
}

body.dark-mode .sidebar {
    background-color: whitesmoke;
}

.intro {
    text-align: left; 
    padding-top: 25px;
    padding-bottom: 0;
}

.intro h1 {
    font-size: 3.3rem; 
    font-weight: bold;
    color: whitesmoke; 
    margin-bottom: 0;
}

.intro h5 {
    font-size: 1.3rem; 
    color: whitesmoke;
    margin-bottom: 10px; 
    margin-top: 15px;
}






.intro p {
    font-size: 1rem; 
    color: #9ca3af;
    max-width: 90%; 
    margin-bottom: 0;
}

body.dark-mode .intro h1,
body.dark-mode .intro h5{
    color: #0d1422;
}

body.dark-mode .intro p{
    color: #222325;
}


/* Toggle Button */
#toggleButton {
    position: absolute;
    top: 20px;
    right: 20px; 
    border: none;
    background: none;
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}



#about p {
    margin-bottom: 20px; 
}

.content {
    width: 60%;
    margin-left: 45%; 
    padding: 45px 20px 45px 20px;
    padding-right: 120px;
}

section {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 80px 0; 
    text-align: left; 
    line-height: 1.8; 
    font-size: 1.3rem; 
    letter-spacing: 0.3px; 
}


section p {
    font-size: 1rem;
    line-height: 1.8; 
    max-width: 900px; 
}

.resume {
    padding-top: 25px;
    text-decoration: none;
    color: #9ca3af;

}

body.dark-mode .resume{
    color: #222325;
}




/* Body */
body {
    background-color: #0d1422; 
    color: #9ca3af; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
  }

body.dark-mode {
    background-color: whitesmoke;
    color: #222325;
}



.active {
    font-weight: bold;
    color: whitesmoke !important;
    transform: scale(1.2);

  }

  body.dark-mode .active{
    color: #222325 !important;
  }



/* Icons */

.icons {
    display: flex;
    gap: 10px; 
    margin-bottom: 100px;
}

.icon{
    height: 30px;
    max-width: 100%;
    padding-bottom: 25px;
    filter: invert(75%) brightness(70%);
}

body.dark-mode .icon {
    filter: invert(25%) brightness(50%);
}

.icons a {
    color: #9ca3af; 
    font-size: 24px; 
    margin: 0 5px; 
    transition: color 0.3s ease, transform 0.3s ease; 
  }

  body.dark-mode .icons a {
    color: #222325;
}


/* Nav Links */
.nav-links{
    list-style: none;
    padding: 0;
    gap: 10px;
    margin-top: 0;
}

.nav-links a {
    text-decoration: none; 
    color: #9ca3af; 
    padding: 10px; 
    display: inline-block;
    font-size: large;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

body.dark-mode .nav-links a {
    color: #222325;
}
  
  
  
  /* Hover */
  .nav-links a:hover,
  .icons a:hover {
    color: whitesmoke; 
    transform: scale(1.2);
    text-shadow: 0 4px 8px #bcc4d309;
   
  }

  body.dark-mode .nav-links a:hover,
  body.dark-mode .icons a:hover {
      color: #222325;
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  #toggleButton:hover {
    transform: scale(1.2);
    color: whitesmoke;
}


#experience{
 padding-bottom: 95px;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}


#experience {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.resume{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    
}

.resume:hover {
    color: white;
}

.progress-badge {
    background-color: #dcb161; /* Orange color */
    color: rgb(75, 72, 72);
    font-size: 0.9rem;
    padding: 3px 8px;
    border-radius: 4px;
    margin-left: 10px;
}

.in-progress {
    opacity: 0.7;
}